<!Doctype html>
<head>
<script>
var ob;    
      if (window.XMLHttpRequest) {
        ob = new XMLHttpRequest();
      } else if (window.ActiveXObject) {
        ob = new
          ActiveXObject("Microsoft.XMLHTTP");
      }
	function getData(datasource,divID)
	{
		if (ob){
			var obj = document.getElementById(divID);
			ob.open("GET",datasource+"?user="+f1.t1.value);
			ob.onreadystatechange = function(){
				if(ob.readyState == 4){
					obj.innerHTML = ob.responseText;
				}
			}
		ob.send(null);
		}
	}
</script>
</head>
<body>
	<form name = "f1">
	<label>UserName </label>
	<input type ="text" name="t1" size="20" onchange=getData('/about','mid') onclick=getData('/hello','mid')>
	<div id = "mid">
		OK ABCDEFGH
	</div>
	</form>
</body>	
</html>	

	
